<mt:var name="templatetype" value="mainindex">
<mt:include module="Header">
		<div id="content">
			<div class="wrapper">
			<mt:pages tag="@frontpage" limit="1">
					<mt:pagebody>
			</mt:pages>
			</div>
		</div>
<mt:include module="Footer">

