<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<$mt:PublishCharset$>" />
	<meta name="generator" content="<$mt:ProductName version="1"$>" />
	<link rel="stylesheet" href="/reset.css" type="text/css" />
	<link rel="stylesheet" href="<$mt:Link template="styles"$>" type="text/css" />
	<script type="text/javascript" src="http://use.typekit.com/ugr5dic.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript" src="<$mt:Link template="javascript"$>"></script>
	<link rel="shortcut icon" href="/favicon.png" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="<$mt:Link template="rsd"$>" />
    <title><$mt:BlogName encode_html="1"$></title>
</head>
<body id="<mt:var name="templatetype">" class="">
   <div id="container">
	<div id="main">
		<div id="header">
			<ul id="navigation">
				<li><a href="services.html">Services</a></li>
				<li><a href="clients.html">Our Clients</a></li>
				<li><a href="about.html">About Us</a></li>
			</ul>
			<mt:if name="templatetype" eq="mainindex"><h1><a href="/index.html">Auburn &amp; Ivory</a></h1><mt:else><div id="logo"><a href="/index.html">Auburn &amp; Ivory</a></div></mt:if>
		</div>
