
	
	<mt:ArchivePrevious>
	 <a href="<$mt:ArchiveLink$>" class="previous"
	  title="<$mt:ArchiveTitle escape="html"$>">&laquo; <mt:archivetitle></a>
	 </mt:ArchivePrevious>
	<mt:ArchiveNext>
	 <a href="<$mt:ArchiveLink$>" class="next" title="<$mt:ArchiveTitle escape="html"$>"><mt:archivetitle> &raquo;</a>
	</mt:ArchiveNext>